.box{
    border: dotted 2px rebeccapurple;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
}
.box > div{
    border: solid 2px blue;
    border-radius: 5px;
}
.one{
    flex: 0 0 100px;
}
.two{
    flex: 0 0 100px;
}
.three{
    flex: 0 0 100px;
}