h1{
    color: hotpink;
    background-color: aquamarine;
    text-align: center;
    font-size: 54px;
}

p{
    color: lightseagreen;
    background-color: midnightblue;
    text-align: center;
    font-size: 34px;
}