h1{
    color: blue;
    text-align: center;
    background-color: darkred;
    font-size: larger;

}

p{
    color: lime;
    text-align: center;
    background-color: orange;
    font-size: larger;

}